<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors = "true"
         verbose="false">
    <testsuites>
        <testsuite name="Baruch Scheduling Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
    	<log type="testdox-text" target="testdox.log"/>
    </logging>
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>
